.google_bookshelves_widget_title {
	margin-bottom: 10px;
}
.google_bookshelves_widget_book {
	position: relative;
	margin: 10px;
}
.google_bookshelves_widget_book img {
	width: 128px;
	height: 180px;
}
.google_bookshelves_widget_book_title {
	position: absolute;
	top: 0px;
	color: #EEEEEE;
	padding: 10px 7px 0px 17px;
	font-size: .9em;
	line-height: 1.2em;
}

.google_bookshelves_shelf_description
.google_bookshelves_book {
	clear: left;
	margin-bottom: 20px;
}
.google_bookshelves_shelf_description
.google_bookshelves_image {
	float: left;
}
.google_bookshelves_shelf_description
.google_bookshelves_image img {
	width: 57px;
	height: 80px;
}
.google_bookshelves_shelf_description
.google_bookshelves_text {
	margin-left: 90px;
}
.google_bookshelves_shelf_description
.google_bookshelves_title {
	font-weight: bold;
}
.google_bookshelves_shelf_description
.google_bookshelves_authors {
	font-style: italic;
	font-size: .8em;
}

.google_bookshelves_shelf_grid
.google_bookshelves_book {
	display: inline;
	margin-right: 10px;
}
.google_bookshelves_shelf_grid
.google_bookshelves_book img {
	width: 57px;
	height: 80px;
}